@use 'sass:color';
@use '~styles/variables' as vars;
@use '~styles/mixins' as *;
@use '~components/tabs/common' as *;

.container {
  @extend %tabContainer;
}

.section {
  margin-bottom: vars.$spacing-lg;
}

.addressRow {
  display: flex;
  gap: vars.$spacing-md;
  margin-bottom: vars.$spacing-lg;
}

.hostSection {
  flex: 1;
}

.portSection {
  flex-shrink: 0;
}

.label {
  @extend %labelText;
}

.input {
  @include input-field;
  width: 100%;
}

.portInput {
  @include input-field;
  width: 60px;
  text-align: center;
}

.connectButton {
  @include button-primary;
  width: 100%;
  margin-bottom: vars.$spacing-xl;
  background-color: vars.$color-success;

  &:hover:not(:disabled) {
    background-color: color.adjust(vars.$color-success, $lightness: -10%);
  }
}

.disconnectButton {
  @include button-primary;
  width: 100%;
  margin-bottom: vars.$spacing-xl;
  background-color: vars.$color-danger;

  &:hover:not(:disabled) {
    background-color: color.adjust(vars.$color-danger, $lightness: -10%);
  }
}

.statusBox {
  @include box;
}

.statusRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vars.$spacing-sm 0;

  &:not(:last-child) {
    border-bottom: 1px solid vars.$color-border;
  }
}

.statusLabel {
  @extend %hintText;
}

.statusValue {
  font-size: vars.$font-size-sm;
  font-weight: 500;
}

.connected {
  color: vars.$color-success;
}

.connecting {
  color: vars.$color-warning;
}

.disconnected {
  color: vars.$color-danger;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: vars.$color-primary;
    }

    &:checked + .slider::before {
      transform: translateX(20px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: vars.$color-border;
  transition: vars.$transition-fast;
  border-radius: 20px;

  &::before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: vars.$transition-fast;
    border-radius: 50%;
  }
}

.durationRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vars.$spacing-sm 0;
  border-top: 1px solid vars.$color-border;
  margin-top: vars.$spacing-sm;
}

.durationInputGroup {
  display: flex;
  gap: vars.$spacing-xs;
  align-items: center;
}

.durationInput {
  @include input-field;
  width: 80px;
  text-align: center;
  padding: vars.$spacing-xs vars.$spacing-sm;
}

.applyButton {
  @include button-primary;
  padding: vars.$spacing-xs vars.$spacing-md;
  font-size: vars.$font-size-sm;
}
