@import './base.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

html body.picking-base,
html body.picking-base div,
html body.picking-base canvas,
html body.picking-base img,
html body.picking-base button {
  cursor: crosshair;
}
