@use '~styles/variables' as vars;
@use '~components/markers/common' as *;

.wrapper {
  @extend %marker-wrapper;
}

.marker {
  @extend %marker-base;
  --marker-color: #{vars.$color-primary};
  background-color: vars.$color-primary;
  width: 44px;
  height: 44px;
  position: relative;
  filter: none;

  &::after {
    display: none;
  }

  &:hover {
    @extend %marker-hover;
  }
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 18px;
  height: 18px;
  padding: 0 4px;
  background-color: vars.$color-danger;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.pulse {
  @extend %marker-pulse;
  width: 44px;
  height: 44px;
  background-color: vars.$color-primary;
}
